.header {
    display: flex; 
    align-items: center; 
    gap: 20px; 
}

.image {
    float: right;
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
}

.name {
    margin: 0; 
}
.url{
    text-decoration: none;
}
