body{
    background: wheat;
    
}
.header {
    display: flex; 
    align-items: center; 
    gap: 20px; 
}

.image {
    float: right;
    height: 10rem; 
    width: 10rem; 
    border-radius: 50%;
}

.name {
    margin: 0; 
}
.url{
    text-decoration: none;
}
#red{
color: indianred;
}
#wess{
    color: indianred;
}
