*{
    background: wheat;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}


.container{
 display: flex;
 justify-content: space-between;
 padding: 1rem, 4rem;
}

.image {
   
    height: 10rem; 
    width: 10rem; 
    border-radius: 50%;
    margin: 0;
    padding: 0;
    
}
.new-container{
    display: block;
    justify-content: flex-start;
   
}
.url{
    text-decoration: none;
}
#red{
color: indianred;
}
#wess{
    color: indianred;
}

